.block-editor-url-input.url-input input[type="text"] {
  width:100%;
}
.components-button.image-button {
  height:auto;
  padding:0;
}
.splash-image .components-button.button-large {
  margin: 50px auto 150px;
}
.editor-styles-wrapper .wp-block-tastydigital-splash-box {
  h2 {
	margin: 5px 0 0;
	color:#FFF;
	font-weight: 700;
  }
}
