.wp-block-tastydigital-splash-box {
  position: relative;
  > a {
	display: block;
	overflow: hidden;
	img.splash-image {
    	transform: scale(1); 
    	transform-origin: 50% 50%;
    	transition: transform ease-in-out 0.2s;
    	z-index: 0;
    	
	}
	&:hover img.splash-image {
    	transform: scale(1.05); 
	}

  }
  .overlay {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 20px;
	height:88px;
	z-index: 2;
  }

  h2 {
	margin: 5px 0 0;
	color:#FFF;
	font-weight: 700;
  }
}
.opacity-90 {
  opacity: 0.9;
  z-index: 1;
}
.splash-image {
  text-align: center;
  background-color: #F5F5F5;
  min-width:100%;
}
